.search-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar {
    width: 500px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .search-bar:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
