@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 480px) {
  .css-kc4ry9-control {
    min-height: unset !important;
  }
}
